*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    font-size: 2rem;
}

#logo{
    width: 200px;
    height: 200px;
}

#error, #success{
    display: block;
    background-color: indianred;
    width: 100%;
    padding: 15px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    margin: auto;
    z-index: 10;
}

#success{
    background-color: darkseagreen;
}